{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
{{ encore_entry_link_tags('app') }}
<div id="app">
</div>
{{ encore_entry_script_tags('app') }}
{% endblock %}